<section class="hero-area hero-v1" [style.background-image]="'url(assets/img/hero/app-overview-main-bg.png)'" >
    <div class="container">
        <div class="hero-internal">
            <div class="section-particle-effect d-none d-md-block">
                <img class="particle-1 animate-zoom-fade" src="assets/img/particle/particle-1.png" alt="particle One">
                <img class="particle-2 animate-float-bob-y" src="assets/img/particle/particle-2.png" alt="particle Two">
                <img class="particle-3 animate-zoominout" src="assets/img/particle/particle-3.png" alt="particle Three">
                <img class="particle-4 animate-zoominout" src="assets/img/particle/particle-4.png" alt="particle Four">
                <img class="particle-5 animate-zoominout" src="assets/img/particle/particle-5.png" alt="particle Five">
                <img class="particle-6 animate-zoom-fade" src="assets/img/particle/particle-6.png" alt="particle Six">
            </div>
            <div class="row" >
                <div class="col-lg-12">
                    <div class="app-dashboard-preview animate-float-bob-y">
                        <img [src]="imgUrl" alt="app dashboard overview">
                    </div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.section-internal -->
    </div> <!-- /.container-->
</section>