<t-template-content-layout>
    <ng-container breadcrumbTemplate>
        <app-breadcrumb-template [dataItem]="breadcrumbData"></app-breadcrumb-template>
    </ng-container>
    <ng-container actionTemplate>
    </ng-container>
    <ng-container contentTemplate>

        <div class="action-btn mb-1">
            <button nz-button nzType="default" style="border: none;background-color: #fff;box-shadow: none !important;"
                (click)="routeNews()">
                <span>
                    < Trở về</span>
            </button>
            <div class="mt-1 text-right">
                <button nz-button nzType="primary" class="mr-1" (click)="submitForm()">{{!id ?
                    'Thêm mới'
                    : 'Lưu'}}</button>
                <button nz-button nzType="default" (click)="cancel()">Cancel</button>
            </div>
        </div>
        <nz-card>

            <div nz-row>
                <div nz-col nzSpan="18" class="frmBigQuestion">
                    <nz-card class="mr-1">
                        <!-- Big Question -->
                        <form nz-form [formGroup]="systemForm" [nzLayout]="'vertical'">
                            <div nz-col [nzXs]="24" nzSm="24" nzXl="24" nzMd="24" nzLg="24">
                                <div nz-row>
                                    <ng-container *ngFor="let item of arrayColumns">
                                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="p-all-5px">
                                            <ng-container *ngIf="item.name ==='content'">
                                                <div>
                                                    <span>Link ảnh cho bài viết</span>

                                                    <app-upload-img [hideImg]="true"
                                                        (avatarEmit)="getUrlImg('avatar',$event)"></app-upload-img>
                                                    <span>{{urlImgContent}}</span>


                                                </div>
                                            </ng-container>
                                            <app-form-template [formItem]="item"
                                                (returnOutData)="eventFormInput($event)">
                                            </app-form-template>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>


                        </form>
                    </nz-card>

                </div>
                <div nz-col nzSpan="6">
                    <form nz-form [formGroup]="systemForm">
                        <nz-card class="ml-1 mb-1">
                            <span>Trạng thái</span>
                            <div>
                                <nz-form-control>
                                    <nz-radio-group [formControlName]="'status'">
                                        <label nz-radio nzValue="Active">Hiển thị</label>
                                        <label nz-radio nzValue="Hide">Ẩn</label>

                                    </nz-radio-group>
                                </nz-form-control>
                            </div>

                        </nz-card>
                        <nz-card class="ml-1 mb-1">
                            <span>Ảnh bài viết</span>
                            <div>
                                <span>Logo</span>
                                <app-upload-img [avatarUrl]="urlAvatar" (avatarEmit)="getAvatarUrl('avatar',$event)">
                                </app-upload-img>

                            </div>
                        </nz-card>
                        <nz-card class="ml-1 ">
                            <span>Thuộc danh mục</span><br>
                            <nz-form-control>

                                <nz-select [formControlName]="'articleCategoryIds'" >
                                    <nz-option [nzLabel]="item.name" *ngFor="let item of categoryDataSource "
                                        [nzValue]="item.id">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-card>
                    </form>


                </div>
            </div>
        </nz-card>



    </ng-container>

</t-template-content-layout>