<section class="app-statistic-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="core-statistic-content content-right-spacer">
                    <div class="section-title">
                        <div class="section-heading-tag">
                            <span class="single-heading-tag">Mầm non</span>
                        </div>
                        <h2>Chương trình giáo dục mần non</h2>
                        <div class="section-title-description">
                            <p>Chương trình giáo dục mầm non Lá Phong Xanh là chương trình bản quyền của Hệ thống Giáo dục Lá Phong Xanh được xây dựng bới đội ngũ Ban phát triển chương trình có trình độ đào tạo và kinh nghiệm nhiều năm triển khai có hiệu quả chương trình giáo dục mầm non tại Việt Nam và các quốc gia trên thế giới như: Mỹ, Italia, Pháp, Anh, Singapore, Hàn Quốc, Nhật Bản…
                                <br>
                                – Liên tục đổi mới các dự án học tập trong một năm học.
                                <br>
                                – Tính thời sự thể hiện trong từng dự án học tập.
                                <br>
                                – Mỗi bài học đều phản ánh 12 giá trị sống của UNESCO
                                <br>
                                – Học sinh sử dụng tiếng Anh làm ngôn ngữ trong giao tiếp và học tập
                                <br>
                                – Mục tiêu phát triển chỉ số vượt khó, tính độc lập (AQ)cho học sinh</p>
                        </div>
                    </div>

                    <div class="section-button-wrapper mt-30">
                        <a routerLink="/about" class="filled-btn">
                            Tìm hiểu thêm<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="statistic-preveiw-thumbnail">
                    <div class="row">
                        <div class="col-6">
                            <img class="statistic-thumbnail statistic-thumbnail-1 animate-float-bob-y wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" src="assets/images/web/bg_news-01-1184x800.png" alt="statistic preview one">
                            <img class="statistic-thumbnail statistic-thumbnail-3 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms" src="assets/images/web/tt-1-2048x1405.png" alt="statistic preview three">
                        </div>
                        <div class="col-6">
                            <img class="statistic-thumbnail statistic-thumbnail-2 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms" src="assets/images/web/bg_news-01-1184x800.png" alt="statistic preview two">
                            <img class="statistic-thumbnail statistic-thumbnail-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms" src="assets/images/web/tt-1-2048x1405.png" alt="statistic preview four">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>