<div class="mt-1 mb-1 text-right">
    <button nz-button nzType="default"  class="mr-1" (click)="cancel()">Hủy</button>
    <button nz-button nzType="primary" (click)="submitForm()">{{!id ?
        'Thêm mới'
        : 'Lưu'}}</button>
 
</div>
<div nz-row *ngIf="isRender">
    <div nz-col nzSpan="18" class="frmBigQuestion">
        <nz-card class="mr-1">
            <!-- Big Question -->
            <form nz-form [formGroup]="systemForm" [nzLayout]="'vertical'">
                <div nz-col [nzXs]="24" nzSm="24" nzXl="24" nzMd="24" nzLg="24">
                    <div nz-row>
                        <ng-container *ngFor="let item of arrayColumns">
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="p-all-5px">
                                <app-form-template [formItem]="item" (returnOutData)="eventFormInput($event)">
                                </app-form-template>
                            </div>
                        </ng-container>
                    </div>
                </div>


            </form>
        </nz-card>

    </div>
    <div nz-col nzSpan="6">
        <form nz-form [formGroup]="systemForm">
            <nz-card class="ml-1 mb-1">
                <span>Trạng thái</span>
                <div>
                    <nz-form-control>
                        <nz-radio-group [formControlName]="'status'">
                            <label nz-radio nzValue="Active">Hiển thị</label>
                            <label nz-radio nzValue="Hide">Ẩn</label>

                        </nz-radio-group>
                    </nz-form-control>
                </div>

            </nz-card>
            <nz-card class="ml-1 mb-1">
                <span>Ảnh Khách hàng</span>
                <div>
                    <app-upload-img (avatarEmit)="getAvatarUrl('avatar',$event)" [avatarUrl]="avatarUrl"></app-upload-img>

                </div>
            </nz-card>   
          
        </form>

    </div>
</div>
