<ng-container *ngIf="!addNewBanner">
    <div class="text-right b-2">
        <div nz-row >
            <div nz-col [nzXl]="22" [nzXs]="15" [nzMd]="22" [nzLg]="22"></div>
            <div nz-col [nzSpan]="2" class="text-right">
                <button  class="ml-1" style="width: 95%;"  nz-button nzType="primary" (click)="routeManage()">
                    Thêm Banner
                </button>
            </div>
            
        </div>
    </div>
    <div>
        <app-system-share [module]="module" *ngIf="!isUpdate"
         [arrayValues]="arrayValues" [arrayHeader]="arrayHeader"  [urlFree]="'Banner'"
         [isPagging]="false" [isDrag]="true"
         [routerNameDetail]="'web-content/banner/crud'"
         (emitChangeLocation)="eventChangeLocation($event)"
         (emitDetail)="emitDetail($event)" [isEmit]="true"
         (emitChangeStatus)="updateStatus($event)" [isEditor]="false"
         (emitDelete)="deleteEvent($event)" [isShowDropdownStatus]="true"
         >
        
        </app-system-share>
    </div>
</ng-container>

<app-banner-crud *ngIf="addNewBanner " (returnBannerHome)="addBannerGetValue($event)" [id]="idOutput"></app-banner-crud>