@import "./variable.scss";
@import "./_utilities";

:root {
    --default-padding: 12px;
}

body {
    background-color: $color_bg !important;
    background: $color_bg !important;
    height: 100vh !important;
    font-family: "Roboto", sans-serif !important;
}

a,
i {
    cursor: pointer !important;
}
// @media (min-width: 1600px) {
//     .auto-width-layout {
//         width: 1570px!important;
//         max-width: inherit!important;
//     }
// }
// @media (min-width: 1280px) {
//     .auto-width-layout {
//         width: 1260px;
//     }
// }
@media (min-width: 1570px) {
    .auto-width-layout {
        max-width: 1570px;
    }
}

// @media (min-width: 1280px) {
//     .auto-width-layout {
//         width: 1160px;
//     }
// }
// @media (min-width: 1024px) {
//     .auto-width-layout {
//         width: 1000px;
//     }
// }
// @media (min-width: 768px) {
//     .auto-width-layout {
//         width: 768px;
//     }
// }
// @media only screen and (max-width: 1260px) {
//     .auto-width-layout {
//         max-width: unset;
//     }
// }
.auto-width-layout {
    // max-width: 1260px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

.ant-layout-sider-collapsed.hide-if-collapse {
    display: none !important;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 1s ease-out 1s;
}

.sticky-any {
    display: table;
    position: sticky;
    top: 1em;
    max-height: 85vh;
    overflow-y: auto;
}

.pl-default {
    padding-left: var(--default-padding);
}

.ml-default {
    margin-left: var(--default-padding);
}

.sample-height {
    min-height: 50vh;
}

.bg-transparent {
    background-color: transparent !important;
    background: transparent !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mb-1 {
    margin-bottom: 0.5em !important;
}

.pl-1 {
    padding-left: 0.5em !important;
}

.ml-1 {
    margin-left: 0.5em !important;
}

.ml-auto {
    margin-left: auto !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-all-5px {
    padding: 5px;
}

// padding
.p-0 {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}

.w-100 {
    width: 100%;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.d-flex-wrap {
    display: flex !important;
    flex-wrap: wrap;
}

.w-auto-scroll {
    overflow-x: auto;
}

.inner-layout {
    padding: 24px 0;
}

.inner-content {
    padding: 0 12px;
    min-height: 280px;
    margin-top: 4px;
    overflow: unset;
    & > div {
        &.main-content {
            min-height: 280px;
            padding: 5px 10px;
            overflow-x: auto;
            display: grid;
        }
    }
    .header-actions {
        display: grid;
        min-height: 33px;
        padding-bottom: 5px;
    }
}

.content-right {
    display: flex !important;
    justify-content: flex-end;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background: #0078b6 !important;
    background-color: #0078b6 !important;
    color: white !important;
}

.ant-menu-submenu {
    &.ant-menu-submenu-placement-bottom {
        top: 0px !important;
    }
}

.inner-content .sider-menu .ant-menu-submenu-title {
    font-weight: bold;
}

nz-footer {
    text-align: center;
}

nz-sider {
    background: none;
    background-color: none;
    & > div {
        & > ul {
            background: none !important;
            background-color: none !important;
            & > li {
                background: white;
                background-color: white;
                border-radius: 7px;
                overflow: hidden;
                margin-bottom: 0.5em;
            }
        }
    }
    ul.ul-shared-component {
        background: none !important;
        background-color: none !important;
        & > li {
            background: white;
            background-color: white;
            border-radius: 7px;
            overflow: hidden;
            margin-bottom: 0.5em;
        }
    }
}

.flex-and-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-simple-background {
    background: white;
    border-radius: 7px;
    overflow: hidden;
}

.normal-padding {
    padding: 5px 10px;
}

sidebar-checkbox {
    display: contents;
}
// override block UI
.block-ui-wrapper {
    background: transparent !important;
}

.block-ui-spinner .loader {
    display: none !important;
}
// end
html.cdk-global-scrollblock {
    position: initial !important;
}

html.cdk-global-scrollblock body {
    position: fixed !important;
}

.hide {
    display: none;
}
.m-1 {
    margin: 0.5em !important;
}
.mr-1 {
    margin-right: 0.5em;
}

//custom scroll
/* width */


// .drag-list {
//     width: 100%;
//     max-width: 100%;
//     min-height: 30px;
//     display: block;
//     background: white;
//     border-radius: 4px;
//     overflow: hidden;
// }

.drag-box {
    margin-top: 0.5em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    width: 100%;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
    border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center;
}

.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.mt-1{
    margin-top: 0.5em;
}
.text-left {
    text-align: left;
}
// .sticky{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background: #0078b6;
//     z-index: 99;
//     animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
//     -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
//     display: block;

// }
