<t-template-layout>
    <!-- content -->
    <ng-container contentTemplate>
        <nz-table class="w-auto-scroll" nzShowSizeChanger [nzData]="listOfRandomUser" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th nzColumnKey="name" [nzSortFn]="true">Name</th>
                    <th nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">
                        Gender
                    </th>
                    <th nzColumnKey="email" [nzSortFn]="true">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listOfRandomUser">
                    <td>{{ data.name.first }} {{ data.name.last }}</td>
                    <td>{{ data.gender }}</td>
                    <td>{{ data.email }}</td>
                </tr>
            </tbody>
        </nz-table>
    </ng-container>

    <!-- sidebar -->
    <ng-container sideBarTemplate>
        <h3 class="header-actions">Hàng Hóa</h3>
        <sidebar-date-picker (onChangeDate)="dateValueChange($event)" icon="laptop" title="Datepicker sample" [DataSource]="allTimeSource"></sidebar-date-picker>
        <sidebar-checkbox name="ckbox" ngDefaultControl title="Check box sample" icon="laptop" [(sbModel)]="sourceCkBox" (sbModelChange)="checkBoxOnChange($event)"></sidebar-checkbox>
        <sidebar-radio ngDefaultControl [DataSource]="sourceRadio" [(sbModel)]="radioValue" (sbModelChange)="radioOnChange($event)"></sidebar-radio>
        <sidebar-selection ngDefaultControl [DataSource]="selectionSource" [(sbModel)]="selectionValue" [allowAdd]="true" (sbModelChange)="selectionChange($event)" (addClick)="addSelection()" [allowEdit]="true" (editClick)="editSelection($event)">
        </sidebar-selection>

        <sidebar-date-picker (onChangeDate)="dateValueChange($event)" icon="laptop" title="Datepicker sample" [DataSource]="allTimeSource"></sidebar-date-picker>
        <sidebar-checkbox name="ckbox" ngDefaultControl title="Check box sample" icon="laptop" [(sbModel)]="sourceCkBox" (sbModelChange)="checkBoxOnChange($event)"></sidebar-checkbox>
        <sidebar-radio ngDefaultControl [DataSource]="sourceRadio" [(sbModel)]="radioValue" (sbModelChange)="radioOnChange($event)"></sidebar-radio>
        <sidebar-selection ngDefaultControl [DataSource]="selectionSource" [(sbModel)]="selectionValue" [allowAdd]="true" (sbModelChange)="selectionChange($event)" (addClick)="addSelection()" [allowEdit]="true" (editClick)="editSelection($event)">
        </sidebar-selection>
    </ng-container>
    <!-- action -->
    <ng-container actionTemplate>
        <button nz-button nzType="primary" (click)="visibleForm = true"><i nz-icon nzType="plus"
                nzTheme="outline"></i>{{'CREATE_NEW' | translate
            }}</button>
        <button nz-button nzType="primary" class="ml-1"><i nz-icon nzType="import" nzTheme="outline"></i>Import</button>
    </ng-container>

</t-template-layout>

<!-- form demo section -->
<nz-modal [(nzVisible)]="visibleForm" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="visibleForm = false; form.reset();">
    <form [formGroup]="form">
        <ng-template #modalTitle>Thêm mới user</ng-template>
        <ng-template #modalContent>
            <ng-container formGroupName='name'>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="first">First Name</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="First Name is required!">
                        <input nz-input formControlName="first" id="first" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="last">Last Name</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Last Name is required!">
                        <input nz-input formControlName="last"  id="last" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Title is required!">
                        <input nz-input formControlName="title" id="title" />
                    </nz-form-control>
                </nz-form-item>
            </ng-container>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Gender!">
                    <nz-radio-group formControlName='gender' id="title">
                        <label nz-radio nzValue="male">male</label>
                        <label nz-radio nzValue="female">female</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                    <input nz-input formControlName="email" id="email" />
                </nz-form-control>
            </nz-form-item>

        </ng-template>

        <ng-template #modalFooter>
            <button nz-button nzType="default" (click)="visibleForm = false; form.reset();">Hủy</button>
            <button nz-button nzType="default" (click)="form.reset();">Reset</button>
            <button nz-button nzType="primary" (click)="loadDataToForm()">Load data to form</button>
            <button nz-button nzType="primary" (click)="submitForm()">Thêm</button>
        </ng-template>
    </form>
</nz-modal>
<!-- end form demo section -->