<section class="breadcrumb-area">
    <div class="container">
        <div class="section-internal">
            <div class="section-particle-effect d-none d-md-block section-particle-effect-v3">
                <img class="particle-1 animate-zoom-fade" src="assets/img/particle/particle-1.png"
                    alt="particle One">
                <img class="particle-2 animate-rotate-me" src="assets/img/particle/particle-2.png"
                    alt="particle Two">
                <img class="particle-3 animate-float-bob-x" src="assets/img/particle/particle-3.png"
                    alt="particle Three">
                <img class="particle-4 animate-float-bob-y" src="assets/img/particle/particle-4.png"
                    alt="particle Four">
                <img class="particle-5 animate-float-bob-y" src="assets/img/particle/particle-5.png"
                    alt="particle Five">
            </div>
        </div> <!-- /.section-internal -->
        <div class="row">
            <div class="col-lg-12">
                <div class="app-dashboard-preview animate-float-bob-y">
                    <img [src]="imgUrl" alt="app dashboard overview">
                </div>
            </div>
        </div> 
    </div> <!-- /.container -->
</section>