table {
    width: 100%;
}
.btn {
    border: none;
    // color: #fff !important;
    box-shadow: none;
}
a:hover{
    color: #0056b3 !important;
    text-decoration: underline !important;
  }
  a{
    color: #0056b3 !important;
  }